body {
    margin: 0;
    height: auto;
    /* padding: 0; */
    /* overflow-y: hidden; */
    background: linear-gradient(to bottom, #345fff, #4cb8c4);
}


/* 隐藏滚动条，但保留滚动行为 */
body::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}

